---
import GitHubIcon from "../icons/GitHubIcon.astro";
import TwitterLogo from "../icons/TwitterIcon.astro";

const today = new Date();
---
 
<footer>
	<!-- &copy; {today.getFullYear()} Your name here. All rights reserved. -->
	&copy; 2024 Ethan Ong. Powered by <a href="https://astro.build/">Astro</a>. All rights reserved.
	<div class="social-links">
		<a href="https://twitter.com/astrodotbuild" target="_blank">
			<span class="sr-only">Follow Astro on Twitter</span>
			<TwitterLogo />
		</a>
		<a href="https://github.com/withastro/astro" target="_blank">
			<span class="sr-only">Go to GnoxNahte's GitHub repo</span>
			<GitHubIcon />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-light));
	}
</style>
